<main>
    <aside class="settings-list fixed flex flex-col border-r-2">
        <article class="profile-corner text-center">
            <img class="block mx-auto" src="https://placehold.co/200x200">
            <h1 class="text-4xl p-4 py-6">Welcome, {{userData.dataValues.name}}</h1>
        </article>
        <article>
            <ul>
                <li class="p-5 border-t-2 border-r-0 border-b-0"><a href="#fitness-info">My Fitness Info</a></li>
                <li class="p-5 border-t-2 border-r-0 border-b-0"><a href="#routines">Routines & Workouts</a></li>
                <li class="p-5 border-t-2 border-r-0 border-b-2"><a href="#goals">Goals</a></li>
            </ul>
        </article>
        <button class="logout-btn bg-red-500 text-white font-semibold text-xl p-5 m-3 my-auto" type="button">Log Out</button>
    </aside>
    <section class="main-window w-100 ml">
        <div class="routines" id="routines">
            <hr class="mt-2">
            <h2 class="text-6xl py-4 mb-4">WORKOUTS</h2>
            <div class="workouts-table-box overflow-y-auto">
                <table class="table-auto text-3xl">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Sets / Reps / Time</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody id="workout-table-body">
                        {{#each workouts as |workout|}}
                        <tr>
                            <td>{{workout.dataValues.title}}</td>
                            <td>{{workout.dataValues.description}}</td>
                            <td class="text-center"><button type="button">❌</button></td>
                        </tr>
                        {{else}}
                        <tr>
                            <td>[ no workouts ]</td>
                            <td></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <button type="button" id="new-workout-btn" class="add-btn mr-3">+ Add Workout</button>
            <button type="button" id="save-workout-btn" class="disabled-btn" onclick="handleWorkoutSave({{userData.dataValues.id}})">Save ✔</button>
        </div>
    </section>
</main>

<script src="/js/logout.js"></script>
<script src="/js/profile.js"></script>